body {
    background-color: #c99f6a;
    background-size: cover;
    display: inline;
    }


.ingredients {
    width: 100px;
    height: 100px;
}

.hide {
visibility: hidden;
}

.up{
margin-top: -600px;
}
.up2{
margin-top: -20px;
}

.big{
    font-size: x-large;
}
.bigger{
    font-size: xx-large;
    line-height: 80px;
}
.biggerest{
    font-size: xxx-large;
    line-height: 75px;
}